<div class="d-flex h-100 w-100 flex-column px-2">
  <input name="waypoint-search" type="text" placeholder="{{ 'waypoint.search'|translate }}" class="form-control"
         [(ngModel)]="waypointSearch"/>
  <ul class="list-unstyled mb-0 py-1 flex-grow-1 d-flex flex-row justify-content-start align-items-start">
    <li class="p-2">
      <a class="bg-primary w-100 h-100 d-flex flex-column justify-content-center" [routerLink]="['add']">
        <span class="fa fa-plus"></span>
      </a>
    </li>
    <li class="p-2" *ngFor="let waypoint of waypoints$|async|waypointsFilter:waypointSearch">
      <a class="bg-primary w-100 h-100 d-flex flex-column justify-content-center" [routerLink]="[waypoint.id]">
        <span>{{ waypoint.name }}</span>
      </a>
    </li>
  </ul>
</div>
