<form *ngIf="userPreferences$|async as userPreferences">
  <div class="form-group row">
    <label for="port" class="col-4 col-form-label text-light">{{ 'settings.tracker.label.port'|translate }}</label>
    <div class="col-8 input-group">
      <select class="form-control" id="port" name="port"
              [(ngModel)]="userPreferences.port" (change)="onPortChange(userPreferences)">
        <option *ngFor="let port of ports$|async" [value]="port.name">{{ port.name }}</option>
      </select>
      <div class="input-group-append">
        <button class="btn btn-sm" type="button" (click)="onRefresh()">
          <i class="fa fa-refresh"></i>
        </button>
      </div>
    </div>
  </div>
  <div class="form-group row">
    <label for="baud-rate" class="col-4 col-form-label text-light">{{ 'settings.tracker.label.baud-rate'|translate }}</label>
    <div class="col-8">
      <select class="form-control" id="baud-rate" name="baud-rate"
              [(ngModel)]="userPreferences.baudRate" (change)="onBaudRateChange(userPreferences)">
        <option *ngFor="let baudRate of baudRates" [value]="baudRate">{{ baudRate }}</option>
      </select>
    </div>
  </div>
</form>


<div class="d-flex flex-column">
  <span class="text-light">{{ 'settings.tracker.label.logs'|translate }}</span>
  <div class="logs">
    <p class="log text-success m-0" *ngFor="let log of logs$|async">
      {{ log }}
    </p>
  </div>
</div>
