<h1 id="header">
  <a class="btn btn-primary btn-sm rounded-0" [routerLink]="['/menu']">
    <i class="fa fa-home"></i>
  </a>
  <span class="border-bottom border-primary flex-grow-1 pt-2">
    &nbsp;<i class="fa fa-chevron-right"></i>&nbsp;{{ title|translate }}
  </span>
  <span class="border-bottom border-primary p-1 d-flex align-items-center">
    <span class="text-nowrap mr-1 badge badge-secondary"
          *ngIf="currentWaypoint$|async as currentWaypoint"
          (click)="cancelCurrentWaypoint()">
      {{ currentWaypoint.name }}
      <span class="fa fa-close"></span>
    </span>
    <span *ngIf="currentStatus$|async as currentStatus"
          style="width: 27px;"
          class="rounded-circle h-100 d-block"
          [ngClass]="{'bg-success': isConnected(currentStatus), 'bg-danger': isClose(currentStatus), 'bg-warning': isConnecting(currentStatus)}">
    </span>
  </span>
</h1>

<div id="main">
  <router-outlet></router-outlet>
</div>
