@import "~node_modules/bootstrap/scss/bootstrap";

.dial {
  display: flex;
  flex-direction: column;

  .dial-title {
    @extend .text-muted;

    font-size: 12px;
    padding-left: 5px;
  }

  .dial-data {
    text-align: center;
    flex-grow: 1;
    line-height: normal;

    display: flex;
    flex-direction: column;
    justify-content: center;
    // font-family: digit-3;

    > span {
      // flex-grow: 1;
      // font-family: Times;
    }

    &.dial-coordinates {
      font-size: 1.5rem;
    }

    &.dial-distance-to-go {
      font-size: 3.5rem;
    }

    &.dial-eta {
      font-size: 3.5rem;
    }
  }

  .dial-unit {
    //@extend .text-muted;
color: grey;
    font-size: 12px;
    text-align: right;
    padding-right: 5px;
  }
}

div.d-flex {
  color: white;

  div.left-side {
    flex-grow: 1;
    flex-direction: column;

    width: 50%;

    > div {
      height: 33%;

      &:not(:last-child) {
        border-bottom: solid 1px white;
      }
    }
  }

  div.right-side {
    flex-grow: 1;
    flex-direction: column;

    width: 50%;
    border-left: solid 1px white;

    .dial:first-child {
      @extend .dial;
      height: 60%;
      border-bottom: solid 1px white;
    }

    .dial:last-child {
      @extend .dial;
      height: 40%;
    }
  }
}
