@import "~node_modules/bootstrap/scss/bootstrap";

div.d-flex {
  color: white;

  div.left-side {
    flex-grow: 1;
    flex-direction: column;

    width: 50%;

    /deep/ div.dial {
      height: 33%;

      &:not(:last-child) {
        border-bottom: solid 1px white;
      }
    }
  }

  div.right-side {
    flex-grow: 1;
    flex-direction: column;

    width: 50%;
    border-left: solid 1px white;

    /deep/ .dial:first-child {
      height: 66%;
      border-bottom: solid 1px white;
    }

    > .d-flex {
      height: 33%;

      /deep/ .dial:first-child {
        height: 100%;
        width: 50%;
        border-right: solid 1px white;
      }

      /deep/ .dial:last-child {
        height: 100%;
        width: 50%;
      }
    }
  }
}
