<div class="d-flex h-100 flex-column">
  <div class="top-side">
    <app-dial [header]="'gps.dial-title.coordinates'|translate" [defaultBody]="'----'" [body]="coordAsString" class="border-warning">
    </app-dial>
    <app-dial [header]="'Cap'" [defaultBody]="'---'" [body]="rmcData? rmcData.trackTrue + '°' : ''" class="border-primary"></app-dial>
  </div>

  <div class="bottom-side">
    <app-dial [header]="'gps.dial-title.speed'|translate" [defaultBody]="0" [body]="rmcData?.speedKnots" [footer]="'Kts'" class="border-success">
    </app-dial>
  </div>
</div>
