<ul class="list-unstyled">
  <li class="bg-primary">
    <a [routerLink]="['/app', 'gps']">
      <span class="fa fa-compass"></span>
      <span>{{ 'menu.gps'|translate }}</span>
    </a>
  </li>
  <li class="bg-warning">
    <a [routerLink]="['/app', 'waypoints']">
      <span class="fa fa-map-marker"></span>
      <span>{{ 'menu.waypoints'|translate }}</span>
    </a>
  </li>
  <li class="bg-secondary">
    <a [routerLink]="['/app','settings']">
      <span class="fa fa-cog"></span>
      <span>{{ 'menu.settings'|translate }}</span>
    </a>
  </li>
  <li class="bg-danger">
    <a (click)="onQuit()">
      <span class="fa fa-power-off"></span>
      <span>{{ 'menu.quit'|translate }}</span>
    </a>
  </li>
</ul>

<ng-template #shutdownConfirmationContent let-modal>
  <div class="modal-header">
    <h4 class="modal-title">{{ 'waypoint.to-go-to.modal.title'|translate }}&nbsp;{{ waypoint.name }}</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    {{ 'waypoint.to-go-to.modal.body'|translate }}
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-secondary" (click)="modal.close(false)">{{ 'buttons.no'|translate }}</button>
    <button type="button" class="btn btn-primary" (click)="modal.close(true)">{{ 'buttons.yes'|translate }}</button>
  </div>
</ng-template>
