@import "../node_modules/bootstrap/scss/bootstrap";

html, body {
  width: 100%;
  height: 100%;
  background-color: black;
}

@font-face {
  font-family: 'digit';
  src: url('assets/fonts/digit.ttf');
}

@font-face {
  font-family: 'digit-2';
  src: url('assets/fonts/digit-2.ttf');
}

@font-face {
  font-family: 'digit-3';
  src: url('assets/fonts/digit-3.ttf');
}
