<div class="d-flex h-100">
  <ul class="list-unstyled mb-0 bg-secondary text-nowrap">
    <li class="bg-secondary border-bottom border-dark">
      <a class="btn btn-primary rounded-0" [routerLink]="['general']" routerLinkActive="bg-secondary border-secondary">
        <i class="fa fa-chevron-right"></i>
      </a>
      <span class="py-1 px-3">{{ 'settings.menu.general'|translate }}</span>
    </li>
    <li class="bg-secondary border-bottom border-dark">
      <a class="btn btn-primary rounded-0" [routerLink]="['tracker']" routerLinkActive="bg-secondary border-secondary">
        <i class="fa fa-chevron-right"></i>
      </a>
      <span class="py-1 px-3">{{ 'settings.menu.gps-tracker'|translate }}</span>
    </li>
  </ul>

  <div class="flex-grow-1 px-4 py-2">
    <router-outlet></router-outlet>
  </div>
</div>
